
@{
    ViewData["Title"] = "pyment";
    Layout = null;
}

<h1>pyment</h1>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
</head>
<body>
    <div>
        @ViewBag.Error
    </div>
</body>
</html>