
@model List<BEE.cours>
@section pre
{
}

<!----- Start course boxes ----->
<div class="container my-3">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card custom-card mb-3">
                    <div class="sub-layer">
                        <img src="~/iamges1/cours/@item.image" alt="bootstrap" class="img-fluid card-img-top">
                        <div class="over-layer">
                            <a asp-action="searchCours" asp-controller="Cours" asp-route-id="@item.id" class="btn btn-primary"> مشاهده و خرید </a>
                            <span class="badge badge-secondary badge-pill"> 50 <i class="fa fa-shopping-basket pr-1"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="course.html" class="card-link">@item.titel</a>
                        <p class="text-justify card-text vazir font-14 mt-3">
                            @item.time ساعت
                        </p>
                    </div>
                    <div class="card-footer">
                        @*<span class="badge badge-primary badge-pill pt-1">60%</span>*@
                        <div class="float-left">

                            <small class="text-success mr-2">@item.price تومان</small>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>
</div>
<!----- End course boxes ----->

@section Scripts
{

}